* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100%;
	font-size: 125%;
}
.bg {
	height: 100%;
	width: 100%;
	background-image: url(steak.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 36% 100%, 58% 50%);
	position: absolute;
	z-index: -1;
}
.pepe {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(sushi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	filter: blur(2px);
}
ul {
	margin: 0;
	display: inline-block;
}
h1 {
	margin-top: 20px;
	padding-top: ;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 32px;
	clear: both;
}
div.row span {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	font-family: Monaco, Arial;
	padding: 3px 35px;
	border: 1px solid black;
}
p {
	margin-top: 30px;
	margin-left: 10px;
	padding: 2px;
	font-family: Georgia, serif;
}
.row {
	width: 100%;

}
.navbar {
	background-color: #359FC4;
	width: 100%;
	margin-top: 0;
	padding: 20px;
}
.navbar li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	font-family: Georgia, serif;
}
.navbar a {
	text-decoration: none;
	padding: 10px;
	color: white;
}
.navbar a:hover {
	background-color: #5CC8E3 ;
}
#logo{
	text-align: left;
	font-size: 26px;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	color: white;
}
#Chicken {
	background-color: #F5B4A7;

}
#Beef {
	background-color: #272B8D;
	color: white;
}
#Sushi {
	background-color: #F2EF73;
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		background-color: transparent;
		position: relative;
		margin-right: 15px;
		margin-left: 15px;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 30%;
	}
	.col-lg-5 {
		width: 43.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		position: relative;
		background-color: transparent;
		margin: 15px;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 45%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 94%;
	}
}
@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
		position: relative;
		background-color: transparent;
		margin: 15px;
	}
	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-5 {
		width: 41.66%;
	}
	.col-sm-6 {
		width: 45%;
	}
	.col-sm-7 {
		width: 58.33%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33%;
	}
	.col-sm-11 {
		width: 91.66%;
	}
	.col-sm-12 {
		width: 94%;
	}
}